{% extends 'base.html.twig' %}

{% block title %}Sign up{% endblock %}

{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
<div class="signup-container">
    <div class="signup-sidebar" style="background: url('https://thumbs.dreamstime.com/b/close-up-hands-giving-beautifully-wrapped-gift-to-another-person-scene-conveys-warmth-care-symbolizes-person-352951009.jpg');">
        <div class="backdrop-overlay"></div>
        <div class="sidebar-content">
            <div class="logo">GiftWish</div>
            <div class="tagline">Offrez du bonheur,<br>un cadeau à la fois !</div>
        </div>
    </div>

    <div class="signup-content">
        <div class="signup-form">
            <h1 class='title'>Sign up</h1>

            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}
            
            {% for flash_message in app.flashes('success') %}
                <div class="alert alert-success" role="alert">{{ flash_message }}</div>
            {% endfor %}
            
            {{ form_start(registrationForm) }}
                <div class="form-group">
                    {{ form_row(registrationForm.email, {
                        'attr': {'class': 'form-control', 'placeholder': 'Email address'}
                    }) }}
                </div>
                
                <div class="form-group">
                    {{ form_row(registrationForm.username, {
                        'attr': {'class': 'form-control', 'placeholder': 'Nom d\'utilisateur'}
                    }) }}
                </div>
                
                <div class="form-group">
                    {{ form_row(registrationForm.firstName, {
                        'attr': {'class': 'form-control', 'placeholder': 'Prénom'}
                    }) }}
                </div>
                
                <div class="form-group">
                    {{ form_row(registrationForm.lastName, {
                        'attr': {'class': 'form-control', 'placeholder': 'Nom'}
                    }) }}
                </div>
                
                <div class="form-group">
                    {{ form_row(registrationForm.plainPassword.first, {
                        'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}
                    }) }}
                </div>
                
                <div class="form-group">
                    {{ form_row(registrationForm.plainPassword.second, {
                        'attr': {'class': 'form-control', 'placeholder': 'Confirmer le mot de passe'}
                    }) }}
                </div>
                
                <div class="form-group">
                    {{ form_row(registrationForm.agreeTerms) }}
                </div>
                
                <button type="submit" class="signup-btn">Sign up</button>
            {{ form_end(registrationForm) }}
            
            <div class="signin-prompt">
                <span>Already a member?</span>
                <a href="{{ path('app_login') }}" class="signin-link">Sign in</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}